* {
  margin: 0px;
  padding: 0;
}

body {
  background-color: #F6F7F8;
  margin: 20px;
  font-family: "Manrope";
  color: #072635;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: auto;
  margin: 0;
  gap: 3rem;
}

ul {
  list-style: none;
}

hr {
  margin: 12px 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 70px;
  padding: 4px 32px;
  margin-bottom: 30px;
}

#nav-menu {
  display: flex;
  align-items: center;
}

.button,
.menu-item,
.thumbnail-name,
.table-header {
  font-size: 14px;
  font-weight: bold;
}

.info-button {
  padding: 10px 40px;
  border-radius: 41px;
  border: none;
  background-color: #01F0D0;
  cursor: pointer;
}

.icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 5px 15px;
  flex-direction: column;
}

.menu-item img {
  margin-right: 10px;
}

.menu-item:hover{
  background-color: #01F0D0;
  border-radius: 41px;
}

.section-title {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 40px;
}

section {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  width: fit-content;
}

#profile-image {
  width: 200px;
  margin-bottom: 24px;
}

.thumbnail-container {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 12px 20px;
}

.thumbnail-container:hover,
.thumbnail-container.selected {
  background-color: #D8FCF7;
  cursor: pointer;
}

.thumbnail-data {
  font-size: 14px;
  color: #707070;
}


.thumbnail {
  width: 42px;
  margin-right: 15px;
}

.card {
  box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.041);
  width: auto;
}

#blood-pressure {
  grid-column: span 3;
  background-color: #F4F0FE;
}

#blood-pressure-chart {
  height: 200px;
}

#respiratory-rate {
  background-color: #E0F3FA;
}

#temperature {
  background-color: #FFE6E9;
}

#heart-rate {
  background-color: #FFE6F1;
}

#gp-data {
  padding-right: 15px;
  margin-right: 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-icon {
  padding: 0 5px;
}

section#patients-section {
  grid-column: 1;
  grid-row: 1 / 4;
  padding: 0px;
  padding-bottom: 5px;
  max-height: 1054px;
  overflow: hidden;
}

#patient-list {
  display: block;
  max-height: 975px;
  overflow: auto;
  scrollbar-width: thin;
}

.patient-data {
  margin-right: auto;
}

#patients-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 15px;
}

.more-icon {
  padding-right: 5px;
}

#user-section {
  text-align: center;
  padding: 30px 20px;
}

#user-name h3 {
  margin-bottom: 32px;
}

.user-data {
  font-weight: bold;
}

.user-data-container {
  text-align: left;
  margin: 30px 0 40px 0;
}

section#diagnosis-section {
  height: fit-content;
}

.diagnosis-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  gap: 18px;
  width: 100%;
}

figure#blood-pressure {
  flex-direction: row;
}

.diagnosis-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 12px;
}

.diagnosis-item__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}

.diagnosis-item__overview {
  font-size: small;
  padding-right: 20px;
}

.icon--expand {
  padding: 0 10px;
}

.diagnosis-item__details {
  width: 100%;
  padding-left: 10px;
  flex-shrink: 3;
}

.diagnosis-item__chart-container {
  width: 100%;
}

.diagnosis-item__img {
  width: 96px;
  margin-bottom: 16px;
}

.diagnosis-item__title.bp {
  font-weight: bold;
}

.diagnosis-item__title {
  font-weight: 400;
}

.details__value {
  font-weight: bold;
}

.details__value {
  font-size: 22px;
}

.diagnosis-item__value {
  font-size: 30px;
  margin-bottom: 16px;
  font-weight: 800;
}

.details__label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.details__label::before {
  content: '';
  display: inline-block;
  width: 11px; /* Diameter of the circle */
  height: 11px;
  margin-right: 5px;
  border-radius: 50%; /* Makes it a circle */
}

p#diastolic::before {
  background-color: #8C6FE6;
}

p#systolic::before {
  background-color: #E66FD2;
}

.diagnosis-item__level,
.details__level {
  font-size: small;
  display: flex;
}

section#diagnostic-list {
  margin-top: -120px;
  height: fit-content;
}
#diagnosis-table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
  border-collapse: collapse;
}

.table-header {
  background-color: #F6F7F8;
  overflow: hidden;
}

.table-header th:first-child {
  border-radius: 24px 0 0 24px ;
}

.table-header th:last-child {
  border-radius: 0 24px 24px 0 ;
}

thead th, tbody td {
  padding: 15px;
}

td {
  font-size: 14px;
}

.table-rows {
  border-bottom: 1px solid #F6F7F8;
}

h3#lab-results-header {
  margin-bottom: 24px;
}

ul#lab-results-list {
  max-height: 130px;
  overflow: auto;
  scrollbar-width: thin;
}

.result {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.result:hover,
.result.selected {
  background-color: #F6F7F8;
  cursor: pointer;
}

.arrow-icon {
  margin-right: 8px;
}